{% extends "global/Page.html" %}
{% load otree static %}
{% load i18n %}

{% block title %}
{% autoescape off %}
      {% blocktrans trimmed %}
        Round Questionnaire:
      {% endblocktrans %}
    {% endautoescape %}
{% endblock %}

{% block content %}
<html>
    <p>
        {% blocktrans trimmed %}
        During the experiment you were assigned an initial wealth either by luck or based on your ranking in the skill task.
        {% endblocktrans %}
    </p>

    <p>
        {% blocktrans trimmed %}
        At this point we would like you to give your best assessment of which system (luck or performance) the computer randomly
        chose as well as your best assessment of what your ranking in the effort task was (regardless of wealth assignment). You will be
        given extra incentives for a correct answer on either question, and for the ranking you will be given a small incentive for 
        getting an answer that is accurate within two places.
        {% endblocktrans %}
    </p>

    <p>
        {% blocktrans trimmed %}
        Question 1: Please select what ranking you think you achieved during the effort task (1 = best, 9 = worst)?
        {% endblocktrans %}
        {% formfield player.guessed_ranking %}
    </p>

    <p>
        {% blocktrans trimmed %}
        Question 2: Which system do you believe the computer chose to determine your wealth?
        {% endblocktrans %}
        {% formfield player.guessed_system %}
    </p>

    <p>
        {% next_button %}
    </p>

    <p>
        {% include Constants.instructions_button %}
    </p>



</html>
{% endblock %}