{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block title %}
    {% if subsession.round_number <= Constants.practice_rounds %}
        {% blocktrans trimmed %}Voting on the Tax Rate - Practice Round{% endblocktrans %}
    {% else %}
        {% blocktrans trimmed %}Voting on the Tax Rate{% endblocktrans %}
    {% endif %} 
{% endblock %}

{% block scripts %}
    <!--<script src="{% static 'MoneyPolitics/highcharts.js' %}"></script>-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <script>
        var the_series = [];
        var endowments = {{endowments}};
        endowments.push(25);
        endowments.push(15);
        endowments.push(15);
        endowments.sort(function(a, b){return a-b});
        var endowment, endowment_string;

        var payoffs = {{payoffs}};
        var labels = [];
        var baseData = [];
        var currentData = [];

        for(var i = 0; i < endowments.length; i++){
            endowment = endowments[i];
            endowment_string = endowment.toString();
            labels.push(endowment_string);
            baseData.push(payoffs[0][endowment]);
            currentData.push(payoffs[0][endowment]);


        }

        

        var chart = Highcharts.chart('container', {
            chart: {
                renderTo: this.$.chart,
                type: 'column'
            },
            title: {
                text: 'Payoffs'
            },
            xAxis: {
                categories: labels,
                title: {
                    text: 'Endowment'
                }
            },
            yAxis: {
                title: {
                    text: 'Payoff'
                }
            },
            plotOptions: {
                column: {           
                grouping: false
                }
            },
            series: [
                {
                    name: 'Tax 0',
                    data: baseData,
                    borderColor: '#303030',
                    color: '#FFFFFF'
                }, {
                    name: 'Current Tax',
                    data: currentData,
                    opacity: .7
                },                
                 ]
        });

        function updateLine(){
            var the_value = parseInt(document.getElementById('slider').value);
            var newData = [];

            for(var i = 0; i < endowments.length; i++){
                endowment = endowments[i];
                newData.push(payoffs[the_value][endowment]);

            }
            //console.log(newData);

            chart.series[1].setData(newData);
            
            var span = document.getElementById("val");
            document.getElementById('slider').value = the_value;
            span.textContent = the_value.toString();

        };
        
        $("#slider").on("input change", function() { 
            updateLine(); 
        });
    </script>
{% endblock %}

{% block content %}

    <p>
        {% blocktrans trimmed %}
        Please select your most preferred tax rate from 0-100%. The tax rate that will be applied 
        to your group will be the median rate of all submitted tax rates 
        (see instructions to see how the median is calculated).
        {% endblocktrans %}
    </p>

    <p>
        <br>
        <h4>{% blocktrans trimmed %}Choose your preferred tax rate (percentage):{% endblocktrans %}</h4>
    </p>

    

    {{ form.tax_rate.errors }}
    <div class="input-group"></div>
      <div style="height: 100%;width: 100%; display: flex;">
          <div id="container" ></div>
          
      </div>
    
        <input
            id="slider"
            type="range"
            name="tax_rate"
            min='0'
            max='100'
            step="1"
            style="width: 60%;margin-left: 5%;"
            class="form-range"
        >
    </div>
    <p>Tax: <span id="val"></span></p>

    <!-- <p>
    {% next_button %}
    </p> -->
    {% next_button %}
    <p>
    {% include Constants.instructions_button %}
    </p>

{% endblock %}