{% load otree_tags staticfiles %}
{% load i18n %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        {% blocktrans trimmed %}
        Instructions
        {% endblocktrans %}
    </h3>

    <p>
        {% blocktrans trimmed %}
            The following experiment is a public goods game in which you will be assigned to a group of nine
            participants. Together you will play the public goods game for X rounds - each round will have similar rules.
        {% endblocktrans %}
    </p>

    <h5>
      {% blocktrans trimmed %}
      Income Generation
      {% endblocktrans %}
    </h5>

    <p>
      In every round, every group member will perform an income generating task. Your performance in the task will
      give you a ranking, and your ranking will determine your private income for the round. This conversion of
      ranking to income is explained in the table below:
    </p>


    <p>
      <style type="text/css">
          .tg  {border-collapse:collapse;border-spacing:0;}
          .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
            overflow:hidden;padding:20px 20px;word-break:normal;}
          .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
            font-weight:normal;overflow:hidden;padding:20px 20px;word-break:normal;}
          .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
          .tg .tg-0lax{text-align:left;vertical-align:top}
          </style>
          <table class="tg">
          <thead>
            <tr>
              <th class="tg-0pky">Income Assignment by Skill</th>
              <th class="tg-0pky">125</th>
              <th class="tg-0lax">80</th>
              <th class="tg-0lax">40</th>
              <th class="tg-0lax">25</th>
              <th class="tg-0lax">25</th>
              <th class="tg-0lax">15</th>
              <th class="tg-0lax">15</th>
              <th class="tg-0lax">15</th>
              <th class="tg-0lax">9</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tg-0pky">Ranking in Real Effort Task</td>
              <td class="tg-0pky">1</td>
              <td class="tg-0lax">2</td>
              <td class="tg-0lax">3</td>
              <td class="tg-0lax">4</td>
              <td class="tg-0lax">5</td>
              <td class="tg-0lax">6</td>
              <td class="tg-0lax">7</td>
              <td class="tg-0lax">8</td>
              <td class="tg-0lax">9</td>
            </tr>
          </tbody>
          </table>
  </p>


  <p>
    Notice there are nine members but only six different income levels, therefor some members will have the 
    same income as other members. Please also note that income WILL NOT be determined solely by task performance,
    it will have a component of luck. There will be a random selection of two equally likely scenarios. The 
    first of which is a situation where three player's incomes will be shuffled while six player's incomes will
    remain based solely on skill. The second situation has six player's incomes shuffled while three player's incomes stay based
    solely on skill. Simply, your income is generated based on your ranking in the effort task and then may be
    shuffled randomly with either three or six other members depending on a random selection.
  </p>

  <h5>
    {% blocktrans trimmed %}
    Messaging Before Selecting Group Tax Rate
    {% endblocktrans %}
  </h5>

  {% if msg_type == 'single' %}
    <p>
      {% blocktrans trimmed %}
      After assignment of income each player will be given the chance to send a message to any, some, or all 
      other players. This is a chance to influence other players before you all vote on a tax rate. 
      The cost of each message will be sent will be {{ message_cost }} points. You will compose messages to
      other players in a box like the one below, and use the checkboxes in order to select each player that you
      would like to send that message to.
      {% endblocktrans %}
    </p>
    
    <img src="{% static 'Single_msg.PNG' %}"/>

    <p>
      For example, if you write “AAA” in the box, and check income 125, that means that the group 
      member with an income of 125 points will receive that message “AAA”.
    </p>

  {% elif msg_type == 'double' %}
    <p>
      {% blocktrans trimmed %}
      After assignment of income each player will be given the chance to send one or two messages to any, some, or all 
      other players. This is a chance to influence other players before you all vote on a tax rate. 
      The cost of each message will be sent will be {{ message_cost }} points. You will compose messages to
      other players in boxes like the ones below, and use the checkboxes in order to select each player that you
      would like to send the corresponding message to.
      {% endblocktrans %}
    </p>
    
    <img src="{% static 'dual_msg.PNG' %}" />

    <p>
      For example, if you write “AAA” in box 1, and check income 125 above, that means that the group 
      member with an income of 125 points will receive that message “AAA”.
    </p>
  {% endif %}

  <p>
    Every message will be distributed after everyone has finished writing their messages. Messages are
    unidirectional and there will not be any back and forth communication. Please note that you may not send
    a message that contains inappropriate language or conveys a threat. 
  </p>

  <h5>
    {% blocktrans trimmed %}
    Selecting Group Tax Rate
    {% endblocktrans %}
  </h5>

  <p>
    The group will then collectively decide the tax level in the group. Each person will vote for a tax rate
    that they would like to be applied to all members, themselves included. Once the votes are submitted, the
    median of the votes will be determined and selected as the tax rate applicable to all members of the group.
  </p>

  <p>
    {% blocktrans trimmed %}
      <b>Example of a median:</b> 
      Suppose you and your friends must all choose an amount to contribute for food at a party. 
      If you select $5 and the other 8 members of your group have chosen: 
      $1, $4, $8, $9, $10, $7, $8, $2. Sorted from low to high we have: <br><br>
    {% endblocktrans %}
      1: $1<br>
      2: $2<br>
      3: $4<br>
      4: $5<br>
      <b>5: $7 (= {% blocktrans trimmed %}median amount{% endblocktrans %})</b><br>
      6: $8<br>
      7: $8<br>
      8: $9<br>
      9: $10
  </p>
  <p>
    {% blocktrans trimmed %}
        The median in the example would be $7. Which is the middle amount in a sorted list. When you and other
        members of your group select a tax rate, the median amount will be computed in this fashion.
    {% endblocktrans %}
  </p>

  <h5>
    {% blocktrans trimmed %}
    Payoffs
    {% endblocktrans %}
  </h5>

  <p>
    Each members private income from the income generation task will be taxed at the group median determined
    tax rate. The total amount of points spent on the messaging (total number of messages times cost per message)
    will be subtracted from the private income as well. The payoff also takes into consideration the amount of
    money that has been received by the goverment though tax revenue in the following ways. First there is a direct
    benefit from public goods that is given to the player (Ex: the benefit of social security, or unemployment insurance).
    And second there will be a multiplier applied to the private payoffs that encompasses the positive effects of
    solid public goods on private productivity (Ex: the benefit that companies receive from having roads and private property rights).
    To better understand how these payoffs work, please see the graphs and table below that show a player's potential payoff
    based on their initial income level and tax rate.
  </p>

  <p>
    The values in the middle of the table are the potential payoffs:
  </p>
  <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-pb0m{border-color:inherit;text-align:center;vertical-align:bottom}
    .tg .tg-hdgj{background-color:#305496;border-color:inherit;color:#FFF;font-weight:bold;text-align:center;vertical-align:bottom}
    .tg .tg-9wq8{border-color:inherit;text-align:center;vertical-align:middle}
    .tg .tg-1z65{background-color:#305496;border-color:inherit;color:#FFF;font-weight:bold;text-align:center;vertical-align:middle}
    </style>
    <table class="tg">
    <thead>
      <tr>
        <th class="tg-1z65" rowspan="2">Income<br>Level</th>
        <th class="tg-1z65" colspan="6">Tax Rate</th>
      </tr>
      <tr>
        <td class="tg-hdgj">0%</td>
        <td class="tg-hdgj">20%</td>
        <td class="tg-hdgj">40%</td>
        <td class="tg-hdgj">60%</td>
        <td class="tg-hdgj">80%</td>
        <td class="tg-hdgj">100%</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-pb0m">9</td>
        <td class="tg-9wq8">45</td>
        <td class="tg-9wq8">71.9</td>
        <td class="tg-9wq8">98.1</td>
        <td class="tg-9wq8">115.6</td>
        <td class="tg-9wq8">85.0</td>
        <td class="tg-9wq8">54.4</td>
      </tr>
      <tr>
        <td class="tg-pb0m">15</td>
        <td class="tg-9wq8">75</td>
        <td class="tg-9wq8">116.8</td>
        <td class="tg-9wq8">147.5</td>
        <td class="tg-9wq8">156.4</td>
        <td class="tg-9wq8">105.4</td>
        <td class="tg-9wq8">54.4</td>
      </tr>
      <tr>
        <td class="tg-pb0m">25</td>
        <td class="tg-9wq8">125</td>
        <td class="tg-9wq8">191.7</td>
        <td class="tg-9wq8">229.8</td>
        <td class="tg-9wq8">224.4</td>
        <td class="tg-9wq8">139.4</td>
        <td class="tg-9wq8">54.4</td>
      </tr>
      <tr>
        <td class="tg-pb0m">40</td>
        <td class="tg-9wq8">200</td>
        <td class="tg-9wq8">304.1</td>
        <td class="tg-9wq8">353.3</td>
        <td class="tg-9wq8">326.4</td>
        <td class="tg-9wq8">190.4</td>
        <td class="tg-9wq8">54.4</td>
      </tr>
      <tr>
        <td class="tg-pb0m">80</td>
        <td class="tg-9wq8">400</td>
        <td class="tg-9wq8">603.7</td>
        <td class="tg-9wq8">682.7</td>
        <td class="tg-9wq8">598.4</td>
        <td class="tg-9wq8">326.4</td>
        <td class="tg-9wq8">54.4</td>
      </tr>
      <tr>
        <td class="tg-pb0m">125</td>
        <td class="tg-9wq8">625</td>
        <td class="tg-9wq8">940.7</td>
        <td class="tg-9wq8">1053.3</td>
        <td class="tg-9wq8">904.4</td>
        <td class="tg-9wq8">479.4</td>
        <td class="tg-9wq8">54.4</td>
      </tr>
    </tbody>
    </table>

    <p>
      The following graphs show the payoffs for every tax rate rate. Each income has its own graph where
      you can see the relationship between payoffs and tax rate.
    </p>

    <img src="{% static 'f_tax.png' %}"/>


</div>
