{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>

    <p>
        The following experiment is a public goods game in which you and other members of your group will perform effort tasks
        and then be assigned an income either in accordance to your performance on the task or by luck. Therefor some people
        will have lucky income while others have income based on their performance. The players will then have the chance 
        to send messages to others explaining what tax system should be chosen before players vote on their preference for a 
        tax system. The median tax rate of all player votes will be used to tax and redistribute funds to all players.
    </p>

    <p>
        After completing the real effort task, mutually selecting a tax rate, and undergoing taxation and redistribution, 
        a payoff will be calculated. This payoff takes into consideration the direct benefit of public goods funded by the 
        government, the amount of private money you earned in the task (business income), the amount of tax money you paid, 
        the amount of redistributed funds you received, and the increase in productivity of your private business (task) 
        based on the availability of public goods. This payoff is what is reported on your screen here and describes 
        utility or overall benefit. The payoff captures 
        more than just the amount of money you have left after redistribution - it also seeks to include the beneficial 
        interactions of strong public goods like infrastructure and healthcare with your business as well as the direct 
        benefit of those public goods on your wellbeing. After payoff calculations we will convert your payoff to USD at 
        a fixed currency conversion rate.
    </p>
</div>
