{% load otree_tags staticfiles %}
{% load i18n %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        {% blocktrans trimmed %}
        Instructions
        {% endblocktrans %}
    </h3>

    <p>
        {% blocktrans trimmed %}
            The following experiment is a public goods game in which you and other members of your group will perform effort tasks
            and then be assigned an income either in accordance to your performance on the task or by luck. Therefor some people
            will have lucky income while others have income based on their performance. The players will then have the chance 
            to send messages to others explaining what tax system should be chosen before players vote on their preference for a 
            tax system.
        {% endblocktrans %}
    </p>

    <p>
        {% blocktrans trimmed %}
            After completing the real effort task, mutually selecting a tax rate, and undergoing taxation and redistribution, 
            a payoff will be calculated. This payoff takes into consideration the direct benefit of public goods funded by the 
            government, the amount of private money you earned in the task (business income), the amount of tax money you paid, 
            the amount of redistributed funds you received, and the increase in productivity of your private business (task) 
            based on the availability of public goods. This payoff is what is reported on your screen here and describes 
            utility or overall benefit. The payoff captures 
            more than just the amount of money you have left after redistribution - it also seeks to include the beneficial 
            interactions of strong public goods like infrastructure and healthcare with your business as well as the direct 
            benefit of those public goods on your wellbeing. After payoff calculations we will convert your payoff to USD at 
            a fixed currency conversion rate.
        {% endblocktrans %}
    </p>

    <p>
        The following table is the conversion rate of your ranking in the real effort task (Tetris) to the private income
        score that you will be assigned given that your income is assigned by skill.
    </p>

    <p>
        <style type="text/css">
            .tg  {border-collapse:collapse;border-spacing:0;}
            .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
              overflow:hidden;padding:20px 20px;word-break:normal;}
            .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
              font-weight:normal;overflow:hidden;padding:20px 20px;word-break:normal;}
            .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
            .tg .tg-0lax{text-align:left;vertical-align:top}
            </style>
            <table class="tg">
            <thead>
              <tr>
                <th class="tg-0pky">Income Assignment by Skill</th>
                <th class="tg-0pky">125</th>
                <th class="tg-0lax">80</th>
                <th class="tg-0lax">40</th>
                <th class="tg-0lax">25</th>
                <th class="tg-0lax">25</th>
                <th class="tg-0lax">15</th>
                <th class="tg-0lax">15</th>
                <th class="tg-0lax">15</th>
                <th class="tg-0lax">9</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tg-0pky">Ranking in Real Effort Task</td>
                <td class="tg-0pky">1</td>
                <td class="tg-0lax">2</td>
                <td class="tg-0lax">3</td>
                <td class="tg-0lax">4</td>
                <td class="tg-0lax">5</td>
                <td class="tg-0lax">6</td>
                <td class="tg-0lax">7</td>
                <td class="tg-0lax">8</td>
                <td class="tg-0lax">9</td>
              </tr>
            </tbody>
            </table>
    </p>
</div>
