{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block title %}
{% blocktrans trimmed %}
Introduction
{% endblocktrans %}
{% endblock %}

{% block content %}

    <p>
    {% include Constants.instructions_template %}
    </p>

    <p>
        {% blocktrans trimmed %}
        The instructions will be on a collapsible at the bottom of the following pages.
        {% endblocktrans %}
        
        {% if show_id %}
            <br>{% blocktrans trimmed %}
            Your ID in this experimental group is
            {% endblocktrans %}
            {{ id_in_group }}
        {% endif %}
    </p>

    <p>
    {% next_button %}
    </p>

{% endblock %}