{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block title %}
{% blocktrans trimmed %}Information about Nature of Income{% endblocktrans %}
{% endblock %}

{% block content %}
<html>
    <p>
        {% blocktrans trimmed %}
        Your income is {{ income }} 
        Income was received by {{ effort_or_luck }}
        {% endblocktrans %}
    </p>

    <p>
    {% next_button %}
    </p>

    <p>
    {% include Constants.instructions_button %}
    </p>
</html>
{% endblock %}