{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block title %}
{% blocktrans trimmed %}Initial Wealth Generating Task: Results{% endblocktrans %}
{% endblock %}

{% block content %}
<html>
    <p>
        {% blocktrans trimmed %}
        You ranked {{ ranking }} in the initial wealth generating task.
        {% endblocktrans %}
    </p>

    <p>
        {% blocktrans trimmed %}
        You ranked {{ ranking }} in the initial wealth generating task.
        {% endblocktrans %}
    </p>

    {% if effort_or_luck == 'Luck' %}
        <p>
            {% blocktrans trimmed %}
            The computer has randomly determined your initial wealth will not be swapped with anyone else's. That is, your initial wealth is determined by
            performance.
            {% endblocktrans %}
        </p>
    
    {% elif effort_or_luck == 'Luck' %}
        <p>
            {% blocktrans trimmed %}
            The computer has randomly determined your initial wealth will be swapped with someone else’s. 
            That is, your initial wealth is determined by luck. 
            {% endblocktrans %}
        </p>

    {% endif %}
    <p>
    {% next_button %}
    </p>

    <p>
    {% include Constants.instructions_button %}
    </p>
</html>
{% endblock %}