{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Practice Round - Introduction
{% endblock %}

{% block content %}
    <p>
        In this round, there is no going to be a real interaction between
        participants. Your choices and the ones your partners take on This
        round will remain anonymous. 
    </p>
    <p>
        There are two main pages you should pay attention to:
    </p>
    <ul>
        {% if msg_type != 'none' %}
            <li>
                The messaging page
            </li>
        {% else %}
        {% endif %}
        <li>
            The tax voting page
        </li>
    </ul>

    <p>
        Click on Next to start
    </p>

    {% next_button %}
    
{% endblock %}