{% extends "global/Page.html" %}
{% load otree static %}
{% load i18n %}

{% block title %}
{% autoescape off %}
      {% blocktrans trimmed %}
        Messaging Section:
      {% endblocktrans %}
    {% endautoescape %}
{% endblock %}

{% block content %}
<html>
<head>
</head>
<body>

    {% if tax_system == "tax_rate" %}
    <p>
      {% blocktrans trimmed %}
        After this page, you are voting to decide which tax rate should be applied to all the members of your group,
        including yourself.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans trimmed %}
        The median of all the selected taxes is going to be chosen. <b>Example:</b> As an example of a median, 
        suppose you and your friends must all choose an amount to contribute for food at a party. If you select $5 
        and the other 8 members of your group have chosen: 
        $1, $4, $8, $9, $10, $7, $8, $2. Sorted from low to high we have: <br><br>
      {% endblocktrans %}
        1: $1<br>
        2: $2<br>
        3: $4<br>
        4: $5<br>
        <b>5: $7 (= {% blocktrans trimmed %}median amount{% endblocktrans %})</b><br>
        6: $8<br>
        7: $8<br>
        8: $9<br>
        9: $10
    </p>
    <p>
      {% blocktrans trimmed %}
          The median in the example would be $7. Which is the middle amount in a sorted list. When you select a tax rate
          in this section, along with other members of your group, the actual tax rate applied will be calculated using the median.
      {% endblocktrans %}
    </p>
    {% else %}
    <p>
        {% blocktrans trimmed %}
        After this page, you are vote to decide which tax rates should be applied to all the members of your group,
        including yourself. They are divided by tax systems, which you can check here:
        {% endblocktrans %}
    </p>
    
    <p>
    <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg .tg-x028{font-weight:bold;background-color:#000000;color:#ffffff;border-color:#000000;text-align:center;vertical-align:top}
    .tg .tg-9wq8{border-color:inherit;text-align:center;vertical-align:middle}
    .tg .tg-3kls{font-weight:bold;background-color:#000000;color:#ffffff;border-color:#000000;text-align:center;vertical-align:middle}
    .tg .tg-u3q6{font-weight:bold;background-color:#000000;color:#ffffff;border-color:#000000;text-align:left;vertical-align:top}
    .tg .tg-uzvj{font-weight:bold;border-color:inherit;text-align:center;vertical-align:middle}
    .tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
    .tg .tg-nrix{text-align:center;vertical-align:middle}
    </style>
    <table class="tg">
      <tr>
        <th class="tg-3kls" rowspan="2">{% blocktrans trimmed %}Base Income{% endblocktrans %}</th>
        <th class="tg-x028" colspan="5">{% blocktrans trimmed %}Average Tax Rates by Tax System{% endblocktrans %}</th>
      </tr>
      <tr>
        <td class="tg-u3q6">{% blocktrans trimmed %}System 1{% endblocktrans %}</td>
        <td class="tg-u3q6">{% blocktrans trimmed %}System 2{% endblocktrans %}</td>
        <td class="tg-u3q6">{% blocktrans trimmed %}System 3{% endblocktrans %}</td>
        <td class="tg-u3q6">{% blocktrans trimmed %}System 4{% endblocktrans %}</td>
        <td class="tg-u3q6">{% blocktrans trimmed %}System 5{% endblocktrans %}</td>
      </tr>
      <tr>
        <td class="tg-uzvj">9</td>
        <td class="tg-9wq8">0.4</td>
        <td class="tg-9wq8"> 0.3</td>
        <td class="tg-9wq8"> 0.2</td>
        <td class="tg-9wq8">0.1</td>
        <td class="tg-9wq8">0</td>
      </tr>
      <tr>
        <td class="tg-uzvj">15</td>
        <td class="tg-9wq8">0.4</td>
        <td class="tg-9wq8">0.35</td>
        <td class="tg-9wq8">0.3</td>
        <td class="tg-9wq8">0.2</td>
        <td class="tg-9wq8">0</td>
      </tr>
      <tr>
        <td class="tg-uzvj">25</td>
        <td class="tg-9wq8">0.4</td>
        <td class="tg-9wq8">0.375</td>
        <td class="tg-9wq8">0.35</td>
        <td class="tg-9wq8">0.3</td>
        <td class="tg-9wq8">0.15</td>
      </tr>
      <tr>
        <td class="tg-uzvj">40</td>
        <td class="tg-9wq8">0.4</td>
        <td class="tg-9wq8">0.4</td>
        <td class="tg-9wq8">0.4</td>
        <td class="tg-9wq8">0.4</td>
        <td class="tg-9wq8">0.6</td>
      </tr>
      <tr>
        <td class="tg-uzvj">80</td>
        <td class="tg-9wq8">0.4</td>
        <td class="tg-9wq8">0.45</td>
        <td class="tg-9wq8">0.55</td>
        <td class="tg-9wq8">0.65</td>
        <td class="tg-9wq8">0.8</td>
      </tr>
      <tr>
        <td class="tg-amwm">125</td>
        <td class="tg-nrix">0.4</td>
        <td class="tg-nrix">0.55</td>
        <td class="tg-nrix">0.65</td>
        <td class="tg-nrix">0.8</td>
        <td class="tg-nrix">0.9</td>
      </tr>
    </table>    
    </p>

    <p>
        <br>
        The <b>median</b> of all the selected systems is going to be chosen. <b>Example:</b> Suppose you have chosen System 15.
        The other 8 members of your group have chosen systems: 15, 45, 55, 25, 55, 45, 55, 25. Sorted from low
        to high we have <br><br>
        1: 15<br>
        2: 15<br>
        3: 25<br>
        4: 25<br>
        <b>5: 45 (= median tax)</b><br>
        6: 45<br>
        7: 55<br>
        8: 55<br>
        9: 55
    </p>
    <p>
        The <b>median</b> in the example would be 45. Therefore, this is the tax system that is going to be 
        applied to the income of the whole group.
    </p>
    {% endif %}
    <p>

    </p>

    <p>
      {% blocktrans trimmed %}
        Before voting, you can <b>send a message</b> to the other players by filling the box in the bottom of this page.
        You can select which players will receive your message in this page.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
        The cost per message sent is {{ message_cost }}
      {% endblocktrans %}
      {% blocktrans with base_earnings=player.base_earnings %}
        and your current endowment is {{ base_earnings }}
        The amount spend on sending the messages is going to be taken from your income after taxes.
        Please note that you may not send a message that conveys a threat or has inappropriate language.
      {% endblocktrans %}
        
    </p>

    <p>
        <br>
        <h4>{% blocktrans trimmed %}Sending your message{% endblocktrans %} </h4>
    </p>

    <p>
      Write the message you want to send (<span id="char-count">0</span>/280 {% blocktrans trimmed %}characters{% endblocktrans %})
    </p>
      
      <script>
        let charcount = document.getElementById('char-count')
        let messageInput = document.querySelector('[name=message_d]');
        messageInput.oninput = function() {
        charcount.innerText = messageInput.value.length;
        };
      </script>

    {% if msg_type == "double" %} 
      <p>
       <div class="container" style="display: flex; height: 500px;">
            <div style="width: 40%; background: grey;">
               Message #1
               {% formfield player.message %}
              
           </div>
           <div style="width: 5%; background: white;">
            
           </div>
           <div style="width: 40%; background: grey;">
               Message #2
              {% formfield player.message_d %}
              
           </div>
       </div>
      </p>
    {% elif msg_type == "single" %}
      <p>
        <div class="container" style="display: flex; height: 500px;">
             <div style="width: 40%; background: grey;">
                Message #1
                {% formfield player.message %}
                {% formfield player.choices %}
            </div>
        </div>
       </p>

    {% endif %}

    <p>
    {% next_button %}
    </p>

    <p>
    {% include Constants.instructions_button %}
    </p>
</body>
</html>
{% endblock %}
