{% extends "global/Page.html" %}
{% load otree static %}
{% load i18n %}

{% block title %}
{% autoescape off %}
      {% blocktrans trimmed %}
        Messaging Section:
      {% endblocktrans %}
    {% endautoescape %}
{% endblock %}

{% block content %}
<html>
<head>
</head>
<body>

    {% if tax_system == "tax_rate" %}
    <p>
      {% blocktrans trimmed %}
      After this page, you will be voting to decide which tax rate should be applied 
      to all the participants of your group, including yourself (see the instructions 
      for example). Before voting, you can send a message to the other participants by 
      typing text into one or both boxes below. You can also select which participants 
      will receive your messages.     
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans with base_earnings=player.base_earnings %}
      Your current pre-tax wealth is {{ base_earnings }}. The cost per message sent 
      to another participant is {{ msg_cost_int }} points. The total cost of sending 
      messages will be deducted from your pre-tax wealth. You may not send a message 
      that conveys a threat, contains inappropriate language, or gives your name or 
      similar identifying information.
      {% endblocktrans %}
    </p>
    
    {% else %}

    <p>
      {% blocktrans trimmed %}
      After this page, you will be voting to decide which tax system should be applied 
      to all the participants of your group, including yourself (see the instructions 
      for example). Before voting, you can send a message to the other participants by 
      typing text into one or both boxes below. You can also select which participants 
      will receive your messages.     
      {% endblocktrans %}
    </p>

    <p>
      {% blocktrans with base_earnings=player.base_earnings %}
      Your current pre-tax wealth is {{ base_earnings }}. The cost per message sent 
      to another participant is {{ msg_cost_int }} points. The total cost of sending 
      messages will be deducted from your pre-tax wealth. You may not send a message 
      that conveys a threat, contains inappropriate language, or gives your name or 
      similar identifying information.
      {% endblocktrans %}
    </p>
    {% endif %}
    <p>

    </p>



    {% if msg_type == "double" %} 
      <p>
        {% blocktrans trimmed %}
        Write the message you want to send:
        {% endblocktrans %}
      </p>

      <p>
       <div class="container" style="display: flex; height: 500px;">
            <div style="width: 40%; background: white;">
              Message #1 (<span id="char-count">0</span>/280 {% blocktrans trimmed %}characters{% endblocktrans %})
              {% formfield player.message %}
              
              <script>
                let charcount = document.getElementById('char-count')
                let messageInput = document.querySelector('[name=message]');
                messageInput.oninput = function() {
                charcount.innerText = messageInput.value.length;
                };
              </script>

              {% if player.id_in_group == income_9 %}
                {% formfield player.income_15_1 %}
                {% formfield player.income_15_2 %}
                {% formfield player.income_15_3 %}
                {% formfield player.income_25_1 %}
                {% formfield player.income_25_2 %}
                {% formfield player.income_40 %}
                {% formfield player.income_80 %}
                {% formfield player.income_125 %}

              {% elif player.id_in_group == income_15_1 %}
                {% formfield player.income_9 %}
                {% formfield player.income_15_2 %}
                {% formfield player.income_15_3 %}
                {% formfield player.income_25_1 %}
                {% formfield player.income_25_2 %}
                {% formfield player.income_40 %}
                {% formfield player.income_80 %}
                {% formfield player.income_125 %}

              {% elif player.id_in_group == income_15_2 %}
                {% formfield player.income_9 %}
                {% formfield player.income_15_1 %}
                {% formfield player.income_15_3 %}
                {% formfield player.income_25_1 %}
                {% formfield player.income_25_2 %}
                {% formfield player.income_40 %}
                {% formfield player.income_80 %}
                {% formfield player.income_125 %}

              {% elif player.id_in_group == income_15_3 %}
                {% formfield player.income_9 %}
                {% formfield player.income_15_1 %}
                {% formfield player.income_15_2 %}
                {% formfield player.income_25_1 %}
                {% formfield player.income_25_2 %}
                {% formfield player.income_40 %}
                {% formfield player.income_80 %}
                {% formfield player.income_125 %}

              {% elif player.id_in_group == income_25_1 %}
                {% formfield player.income_9 %}
                {% formfield player.income_15_1 %}
                {% formfield player.income_15_2 %}
                {% formfield player.income_15_3 %}
                {% formfield player.income_25_2 %}
                {% formfield player.income_40 %}
                {% formfield player.income_80 %}
                {% formfield player.income_125 %}

              {% elif player.id_in_group == income_25_2 %}
                {% formfield player.income_9 %}
                {% formfield player.income_15_1 %}
                {% formfield player.income_15_2 %}
                {% formfield player.income_15_3 %}
                {% formfield player.income_25_1 %}
                {% formfield player.income_40 %}
                {% formfield player.income_80 %}
                {% formfield player.income_125 %}
              
              {% elif player.id_in_group == income_40 %}
                {% formfield player.income_9 %}
                {% formfield player.income_15_1 %}
                {% formfield player.income_15_2 %}
                {% formfield player.income_15_3 %}
                {% formfield player.income_25_1 %}
                {% formfield player.income_25_2 %}
                {% formfield player.income_80 %}
                {% formfield player.income_125 %}
              
              {% elif player.id_in_group == income_80 %}
                {% formfield player.income_9 %}
                {% formfield player.income_15_1 %}
                {% formfield player.income_15_2 %}
                {% formfield player.income_15_3 %}
                {% formfield player.income_25_1 %}
                {% formfield player.income_25_2 %}
                {% formfield player.income_40 %}
                {% formfield player.income_125 %}
              
              {% elif player.id_in_group == income_125 %}
                {% formfield player.income_9 %}
                {% formfield player.income_15_1 %}
                {% formfield player.income_15_2 %}
                {% formfield player.income_15_3 %}
                {% formfield player.income_25_1 %}
                {% formfield player.income_25_2 %}
                {% formfield player.income_40 %}
                {% formfield player.income_80 %}

              {% endif %}
           </div>
           <div style="width: 5%; background: white;">
            
           </div>
           <div style="width: 40%; background: white;">
              Message #2 (<span id="char-count_d">0</span>/280 {% blocktrans trimmed %}characters{% endblocktrans %})
              {% formfield player.message_d %}

              <script>
                let char_count = document.getElementById('char-count_d')
                let message_Input = document.querySelector('[name=message_d]');
                message_Input.oninput = function() {
                char_count.innerText = message_Input.value.length;
                };
              </script>

              {% if player.id_in_group == income_9 %}
                {% formfield player.income_15_1_d %}
                {% formfield player.income_15_2_d %}
                {% formfield player.income_15_3_d %}
                {% formfield player.income_25_1_d %}
                {% formfield player.income_25_2_d %}
                {% formfield player.income_40_d %}
                {% formfield player.income_80_d %}
                {% formfield player.income_125_d %}

              {% elif player.id_in_group == income_15_1 %}
                {% formfield player.income_9_d %}
                {% formfield player.income_15_2_d %}
                {% formfield player.income_15_3_d %}
                {% formfield player.income_25_1_d %}
                {% formfield player.income_25_2_d %}
                {% formfield player.income_40_d %}
                {% formfield player.income_80_d %}
                {% formfield player.income_125_d %}

              {% elif player.id_in_group == income_15_2 %}
                {% formfield player.income_9_d %}
                {% formfield player.income_15_1_d %}
                {% formfield player.income_15_3_d %}
                {% formfield player.income_25_1_d %}
                {% formfield player.income_25_2_d %}
                {% formfield player.income_40_d %}
                {% formfield player.income_80_d %}
                {% formfield player.income_125_d %}

              {% elif player.id_in_group == income_15_3 %}
                {% formfield player.income_9_d %}
                {% formfield player.income_15_1_d %}
                {% formfield player.income_15_2_d %}
                {% formfield player.income_25_1_d %}
                {% formfield player.income_25_2_d %}
                {% formfield player.income_40_d %}
                {% formfield player.income_80_d %}
                {% formfield player.income_125_d %}

              {% elif player.id_in_group == income_25_1 %}
                {% formfield player.income_9_d %}
                {% formfield player.income_15_1_d %}
                {% formfield player.income_15_2_d %}
                {% formfield player.income_15_3_d %}
                {% formfield player.income_25_2_d %}
                {% formfield player.income_40_d %}
                {% formfield player.income_80_d %}
                {% formfield player.income_125_d %}

              {% elif player.id_in_group == income_25_2 %}
                {% formfield player.income_9_d %}
                {% formfield player.income_15_1_d %}
                {% formfield player.income_15_2_d %}
                {% formfield player.income_15_3_d %}
                {% formfield player.income_25_1_d %}
                {% formfield player.income_40_d %}
                {% formfield player.income_80_d %}
                {% formfield player.income_125_d %}
              
              {% elif player.id_in_group == income_40 %}
                {% formfield player.income_9_d %}
                {% formfield player.income_15_1_d %}
                {% formfield player.income_15_2_d %}
                {% formfield player.income_15_3_d %}
                {% formfield player.income_25_1_d %}
                {% formfield player.income_25_2_d %}
                {% formfield player.income_80_d %}
                {% formfield player.income_125_d %}
              
              {% elif player.id_in_group == income_80 %}
                {% formfield player.income_9_d %}
                {% formfield player.income_15_1_d %}
                {% formfield player.income_15_2_d %}
                {% formfield player.income_15_3_d %}
                {% formfield player.income_25_1_d %}
                {% formfield player.income_25_2_d %}
                {% formfield player.income_40_d %}
                {% formfield player.income_125_d %}
              
              {% elif player.id_in_group == income_125 %}
                {% formfield player.income_9_d %}
                {% formfield player.income_15_1_d %}
                {% formfield player.income_15_2_d %}
                {% formfield player.income_15_3_d %}
                {% formfield player.income_25_1_d %}
                {% formfield player.income_25_2_d %}
                {% formfield player.income_40_d %}
                {% formfield player.income_80_d %}

              {% endif %}
           </div>
       </div>
      </p>
    {% elif msg_type == "single" %}
      <p>
        {% blocktrans trimmed %}
        Write the message you want to send: (<span id="char-count-single">0</span>/280 characters)
        {% endblocktrans %}
      </p>
        

      <p>
        <div class="container" style="display: flex; height: 500px;">
             <div style="width: 40%; background: white;">
                Message #1
                {% formfield player.message %}

                {% if player.id_in_group == income_9 %}
                  {% formfield player.income_15_1 %}
                  {% formfield player.income_15_2 %}
                  {% formfield player.income_15_3 %}
                  {% formfield player.income_25_1 %}
                  {% formfield player.income_25_2 %}
                  {% formfield player.income_40 %}
                  {% formfield player.income_80 %}
                  {% formfield player.income_125 %}

                {% elif player.id_in_group == income_15_1 %}
                  {% formfield player.income_9 %}
                  {% formfield player.income_15_2 %}
                  {% formfield player.income_15_3 %}
                  {% formfield player.income_25_1 %}
                  {% formfield player.income_25_2 %}
                  {% formfield player.income_40 %}
                  {% formfield player.income_80 %}
                  {% formfield player.income_125 %}

                {% elif player.id_in_group == income_15_2 %}
                  {% formfield player.income_9 %}
                  {% formfield player.income_15_1 %}
                  {% formfield player.income_15_3 %}
                  {% formfield player.income_25_1 %}
                  {% formfield player.income_25_2 %}
                  {% formfield player.income_40 %}
                  {% formfield player.income_80 %}
                  {% formfield player.income_125 %}

                {% elif player.id_in_group == income_15_3 %}
                  {% formfield player.income_9 %}
                  {% formfield player.income_15_1 %}
                  {% formfield player.income_15_2 %}
                  {% formfield player.income_25_1 %}
                  {% formfield player.income_25_2 %}
                  {% formfield player.income_40 %}
                  {% formfield player.income_80 %}
                  {% formfield player.income_125 %}

                {% elif player.id_in_group == income_25_1 %}
                  {% formfield player.income_9 %}
                  {% formfield player.income_15_1 %}
                  {% formfield player.income_15_2 %}
                  {% formfield player.income_15_3 %}
                  {% formfield player.income_25_2 %}
                  {% formfield player.income_40 %}
                  {% formfield player.income_80 %}
                  {% formfield player.income_125 %}

                {% elif player.id_in_group == income_25_2 %}
                  {% formfield player.income_9 %}
                  {% formfield player.income_15_1 %}
                  {% formfield player.income_15_2 %}
                  {% formfield player.income_15_3 %}
                  {% formfield player.income_25_1 %}
                  {% formfield player.income_40 %}
                  {% formfield player.income_80 %}
                  {% formfield player.income_125 %}
                
                {% elif player.id_in_group == income_40 %}
                  {% formfield player.income_9 %}
                  {% formfield player.income_15_1 %}
                  {% formfield player.income_15_2 %}
                  {% formfield player.income_15_3 %}
                  {% formfield player.income_25_1 %}
                  {% formfield player.income_25_2 %}
                  {% formfield player.income_80 %}
                  {% formfield player.income_125 %}
                
                {% elif player.id_in_group == income_80 %}
                  {% formfield player.income_9 %}
                  {% formfield player.income_15_1 %}
                  {% formfield player.income_15_2 %}
                  {% formfield player.income_15_3 %}
                  {% formfield player.income_25_1 %}
                  {% formfield player.income_25_2 %}
                  {% formfield player.income_40 %}
                  {% formfield player.income_125 %}
                
                {% elif player.id_in_group == income_125 %}
                  {% formfield player.income_9 %}
                  {% formfield player.income_15_1 %}
                  {% formfield player.income_15_2 %}
                  {% formfield player.income_15_3 %}
                  {% formfield player.income_25_1 %}
                  {% formfield player.income_25_2 %}
                  {% formfield player.income_40 %}
                  {% formfield player.income_80 %}

                {% endif %}
            </div>
        </div>
       </p>

    {% endif %}

    <p>
      <br>
      <h4>{% blocktrans trimmed %}Finalizing your message{% endblocktrans %} </h4>
    </p>

    <p>
      <div class="container" style="display: flex; height: 75px;">
        <div style="width: 40%; background: white;">
          Note that every message costs {{ msg_cost_int }} points per recipient. 
          Once you click the "Send" button you will send the selected messages.
        </div>
        <div style="width: 5%; background: white;">
        </div>
        <div style="width: 40%; background: white;">
          {% next_button %}
        </div>
      </div>
    </p>

    <p>
    {% include Constants.instructions_button %}
    </p>
</body>
</html>
{% endblock %}
