{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block title %}
{% blocktrans trimmed %}Choosing the Tax System{% endblocktrans %}
{% endblock %}

{% block content %}

<p>
  {% blocktrans trimmed %}
  Please select your most preferred tax system. The tax system that will be applied 
  to your group will be the median rate of all submitted tax systems 
  (see instructions to see how the median is calculated).
  {% endblocktrans %}
</p>

<p>
  <br>
  <h4>{% blocktrans trimmed %}Choose your preferred tax system:{% endblocktrans %}</h4>
</p>


{% formfields %}

  <p>
    {% next_button %}
  </p>

  <p>
    {% include Constants.instructions_button %}
  </p>



{% endblock %}