{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block title %}
{% blocktrans trimmed %}Income-Generating Task - Results{% endblocktrans %}
{% endblock %}

{% block content %}
<html>
    <p>
        {% blocktrans trimmed %}
            <!--You ranked {{ ranking_string }} in the task. </br></br>-->
            You completed {{ score }} line(s). </br></br>
        {% endblocktrans %}

        <!--
        {% if effort_or_luck == "Effort" %}
            {% blocktrans trimmed %}
                The computer has randomly determined that your wealth will be established 
                by performance. That is, your wealth will NOT be swapped with someone else’s. </br></br>
            {% endblocktrans %}
        {% else %}
            {% blocktrans trimmed %}
                The computer has randomly determined that your wealth will be established by 
                luck. That is, your wealth will be swapped with someone else’s. </br></br>
            {% endblocktrans %}
        {% endif %}
        -->

        {% blocktrans trimmed %}
            Your initial wealth is {{ income }}
        {% endblocktrans %}
        
    </p>

    <p>
    {% next_button %}
    </p>

    <p>
    {% include Constants.instructions_button %}
    </p>
</html>
{% endblock %}