{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block title %}
{% blocktrans trimmed %}Read Your Messages{% endblocktrans %}
{% endblock %}

{% block content %}
<html xmlns="http://www.w3.org/1999/html">
    <p>
        {% blocktrans with total_messaging_costs=player.total_messaging_costs %}
        The total cost of the messages you have sent to other players is {{ total_messaging_costs }}<br>
        {% endblocktrans %}
    </p>

    <p>
        These are the messages you have received from other participants:
    </p>
        <ul>
        {% if player.messages_received != "" %}
            {% autoescape off %}
                {{ player.messages_received }}
            {% endautoescape %}
        {% else %}
            <li><i>You have not received any messages.</i></li>
        {% endif %}
        </ul>

        


    <p>
        {% next_button %}
    </p>

</html>
{% endblock %}