{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block title %}
    {% if subsession.round_number <= Constants.practice_rounds %}
        {% blocktrans trimmed %}Read Your Messages - Practice Round{% endblocktrans %}
    {% else %}
        {% blocktrans trimmed %}Read Your Messages{% endblocktrans %}
    {% endif %} 
{% endblock %}

{% block content %}
<html xmlns="http://www.w3.org/1999/html">
    <p>
        {% blocktrans with total_messaging_costs=player.total_messaging_costs %}
        The total cost of the messages you have sent is {{ total_messaging_costs }}<br>
        {% endblocktrans %}
    </p>

        
        {% if player.messages_received != "" %}
        <p>
            These are the messages you have received from other citizens:
        </p>
        <ul>
            {% autoescape off %}
                {{ player.messages_received }}
            {% endautoescape %}
        </ul>
        {% else %}
            You have not received any messages.
        {% endif %}

        


    <p>
        {% next_button %}
    </p>

</html>
{% endblock %}