{% extends "global/Page.html" %}
{% load otree static %}
{% load i18n %}

{% block title %}
    {% if subsession.round_number <= Constants.practice_rounds %}
        {% blocktrans trimmed %}Results - Practice Round{% endblocktrans %}
    {% else %}
        {% blocktrans trimmed %}Results{% endblocktrans %}
    {% endif %} 
{% endblock %}

{% block content %}

<p>
    {% blocktrans with ranking_actual=ranking_actual ranking_guess=ranking_guess system_actual=system_actual ranking_guess_payoff=ranking_guess_payoff %}

        Your ranking was {{ ranking_actual }} and you guessed that your ranking was {{ ranking_guess }}</br></br>

        Your wealth was determined by {{ system_actual }}</br></br>

        Your guess on ranking yielded you {{ ranking_guess_payoff }}

    {% endblocktrans %}
</p>    

    {% blocktrans with player_payoff=player.payoff %}

        Adding them to your previous section earnings, your total payoff for this round is {{ player_payoff }}</br></br>

    {% endblocktrans %}

    <p>
    {% next_button %}
    </p>


{% endblock %}


