{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Slider
{% endblock %}

{% block scripts %}
    <!--<script src="{% static 'MoneyPolitics/highcharts.js' %}"></script>-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script>

        var dataOne = [[0, 5], [2, 17], [4, 12], [8,2]];
        var dataTwo = [[0,1],[3, 9], [5, 14], [7, 12], [8,9]];
        var dataThree = [[0,17],[1, 3], [6, 13], [8, 13]];
        var pointsX = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10];

        function plottingPoints(xValues, m, b, c) {
            var linearFun = 3,
            quadraticFun = 4,
            dataLin = [],
            xValues = xValues,
            m = m,
            b = b;

            if (arguments.length === linearFun) {
            xValues.forEach(function(x) {
                dataLin.push(m * x + b);
            });
            } else if (arguments.length === quadraticFun) {
            var c = c;
            xValues.forEach(function(x) {
                dataLin.push((m * x * x) + (b * x) + c);
            });
            }
            
            return dataLin;
        };

        var allXValues = [];
        for(let i = 0; i < dataOne.length; i++){
            allXValues.push(dataOne[i][0]);
        }
        for(let i = 0; i < dataTwo.length; i++){
            allXValues.push(dataTwo[i][0]);
        }
        for(let i = 0; i < dataThree.length; i++){
            allXValues.push(dataThree[i][0]);
        }
        let xValues = [...new Set(allXValues)];

        var chart = Highcharts.chart('container', {
            chart: {
                animation: false,
                renderTo: this.$.chart,
                enabled: false,
                width: this.offsetWidth,
                height: this.offsetHeight,

            },
            title: { text: 'Payoff' },
            exporting: { enabled: false },
            tooltip: { enabled: false },
            legend: { enabled: false },
            credits: { enabled: false },
            xAxis: {
                min: 0,
                max: 8,
                labels: { enabled: true },
                title: { text: 'Tax' },
            },
            yAxis: {
                title: { text: 'Endowment' },
                labels: { enabled: true },
            },
            plotOptions: {
                line: {marker: {enabled: false}},
                series: {
                    states: {
                        hover: {
                            enabled: false,
                        }
                    }
               }
            },
            line: {
                marker: {
                    enabled: false,
                    states: {
                        hover: { enabled: false },
                        select: { enabled: false }
                    }
                }
            },
            series:
              [
                {
                    name: 'First Line',
                    type: "line",
                    color: '#0000FF',
                    data: plottingPoints(pointsX, -.5, 6),
                },
                {
                    name: "Second Line",
                    type: "line",
                    color: '#d3d3d3',
                    data: plottingPoints(pointsX, 4, 1),
                },
                {
                    name: "Third Line",
                    type: "line",
                    color: '#d3d3d3',
                    data: plottingPoints(pointsX, 1.3, 3),
                } 
            ],
            legend: {
                align: 'right',
                verticalAlign: 'top',
                floating: true,
                y: 15,
            },
            tooltip: {
                split: true,
                formatter: function() {

                return ['<b>' + this.x.valueOf() + '</b>'].concat(
                    this.points.map(function(point) {

                    return point.series.name + ': ' + point.y;
                    })
                );

                /*return this.series.name + ': ' + (m * this.x.valueOf() + b);*/

                },
            },
        });

        function updateLine(){
            var value = parseFloat(document.getElementById('slider').value);

            var closest = xValues.reduce(function(prev, curr) {
                return (Math.abs(curr - value) < Math.abs(prev - value) ? curr : prev);
            });

            chart.xAxis[0].removePlotLine('first');
            chart.xAxis[0].addPlotLine({
                value: closest,
                color: 'red',
                width: 1,
                id: 'first'
            });
            var span = document.getElementById("val");
            span.textContent = closest.toString();

        };

        $("#slider").on("input change", function() { 
            updateLine(); 
        });
    </script>
{% endblock %}

{% block content %}
    <div style="height: 100%;width: 100%; display: flex;">
        <div id="container" ></div>
        
    </div>
    <input
        id="slider"
        type="range"
        min='0'
        max='8'
        step="1"
        style="width: 65%"
    >
    <p>Tax: <span id="val"></span></p>

    {% next_button %}

{% endblock %}