{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Slider
{% endblock %}

{% block scripts %}
    <!--<script src="{% static 'MoneyPolitics/highcharts.js' %}"></script>-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script>
        var pointsX = Array.from(Array(101).keys());
        var the_series = [];
        console.log({{final_payoffs}});
        console.log({{xvals_dict}});
        var xvals_dict = {{xvals_dict}};
        var payoffs = {{final_payoffs}};
        var slopes = {{slopes}};
        var endowments = {{endowments}};
        var endowment, endowment_string, slope, line_color;
        for(var i = 0; i < endowments.length; i++){
            endowment = endowments[i];
            endowment_string = 'endowment_' + endowment.toString();
            slope = slopes[endowment];
            console.log(endowment_string);
            line_color = ((endowment == 9) ? '#0000FF' : '#d3d3d3'); 
            pointsX = xvals_dict[endowment];
            console.log(pointsX);
            the_series.push({
                    name: endowment_string,
                    type: "line",
                    color: line_color,
                    data: plottingPoints(pointsX, slope, endowment),
            });

        }
        

        function plottingPoints(xValues, m, b) {
            var linearFun = 3,
            value = 0;
            dataLin = [],
            xValues = xValues,
            m = m,
            b = b;
            xValues.forEach(function(x) {
                value = m * x + b;
                dataLin.push([x, value]);
            });
            console.log(dataLin);
            
            return dataLin;
        };

        

        var chart = Highcharts.chart('container', {
            chart: {
                animation: false,
                renderTo: this.$.chart,
                enabled: false,
                width: this.offsetWidth,
                height: this.offsetHeight,

            },
            title: { text: 'Payoff' },
            exporting: { enabled: false },
            tooltip: { enabled: false },
            legend: { enabled: false },
            credits: { enabled: false },
            xAxis: {
                min: 0,
                max: 1,
                labels: { enabled: true },
                title: { text: 'Tax' },
            },
            yAxis: {
                min: 0,
                //max: 150,
                title: { text: 'Payoff' },
                labels: { enabled: true },
            },
            plotOptions: {
                line: {marker: {enabled: false}},
                series: {
                    states: {
                        hover: {
                            enabled: false,
                        }
                    }
               }
            },
            line: {
                marker: {
                    enabled: false,
                    states: {
                        hover: { enabled: false },
                        select: { enabled: false }
                    }
                }
            },
            series:
                the_series  
            ,
            legend: {
                align: 'right',
                verticalAlign: 'top',
                floating: true,
                y: 15,
            },
            tooltip: {
                split: true,
                formatter: function() {

                return ['<b>' + this.x.valueOf() + '</b>'].concat(
                    this.points.map(function(point) {

                    return point.series.name + ': ' + point.y;
                    })
                );

                /*return this.series.name + ': ' + (m * this.x.valueOf() + b);*/

                },
            },
        });

        function updateLine(){
            var the_value = parseFloat(document.getElementById('slider').value);

            /*var closest = xValues.reduce(function(prev, curr) {
                return (Math.abs(curr - value) < Math.abs(prev - value) ? curr : prev);
            });*/

            chart.xAxis[0].removePlotLine('first');
            chart.xAxis[0].addPlotLine({
                value: the_value,
                color: 'red',
                width: 1,
                id: 'first'
            });
            var span = document.getElementById("val");
            span.textContent = the_value.toString();

        };

        $("#slider").on("input change", function() { 
            updateLine(); 
        });
    </script>
{% endblock %}

{% block content %}
    <div style="height: 100%;width: 100%; display: flex;">
        <div id="container" ></div>
        
    </div>
    <input
        id="slider"
        type="range"
        min='0'
        max='1'
        step=".01"
        style="width: 65%"
    >
    <p>Tax: <span id="val"></span></p>

    {% next_button %}

{% endblock %}