{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block title %}
Juego de Sliders
{% endblock %}

{% block content %}

  <style>
    #custom-handle_1 {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  #custom-handle_2 {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  #custom-handle_3 {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  #custom-handle_4 {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  #custom-handle_5 {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  #custom-handle_6 {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  #custom-handle_7 {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  #custom-handle_8 {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  #custom-handle_9 {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  #custom-handle_10 {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  #custom-handle_11 {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  #custom-handle_12 {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  #custom-handle_13 {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  #custom-handle_14 {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  #custom-handle_15 {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  #custom-handle_16 {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  #custom-handle_17 {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  #custom-handle_18 {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  #custom-handle_19 {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  #custom-handle_20 {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  #custom-handle_21 {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  #custom-handle_22 {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  #custom-handle_23 {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  #custom-handle_24 {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  #custom-handle_25 {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  #custom-handle_26 {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  #custom-handle_27 {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  #custom-handle_28 {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  #custom-handle_29 {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  #custom-handle_30 {
    width: 2em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  </style>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="../../external/jquery/jquery.js"></script>
    <script src="../../ui/core.js"></script>
    <script src="../../ui/widget.js"></script>
    <script src="../../ui/mouse.js"></script>
    <script src="../../ui/slider.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">

    <input class="field" id="slider_31" name="slider_31" hidden>
    <input class="field" id="slider_32" name="slider_32" hidden>
    <input class="field" id="slider_33" name="slider_33" hidden>
    <input class="field" id="slider_34" name="slider_34" hidden>
    <input class="field" id="slider_35" name="slider_35" hidden>
    <input class="field" id="slider_36" name="slider_36" hidden>
    <input class="field" id="slider_37" name="slider_37" hidden>
    <input class="field" id="slider_38" name="slider_38" hidden>
    <input class="field" id="slider_39" name="slider_39" hidden>
    <input class="field" id="slider_40" name="slider_40" hidden>
    <input class="field" id="slider_41" name="slider_41" hidden>
    <input class="field" id="slider_42" name="slider_42" hidden>
    <input class="field" id="slider_43" name="slider_43" hidden>
    <input class="field" id="slider_44" name="slider_44" hidden>
    <input class="field" id="slider_45" name="slider_45" hidden>
    <input class="field" id="slider_46" name="slider_46" hidden>
    <input class="field" id="slider_47" name="slider_47" hidden>
    <input class="field" id="slider_48" name="slider_48" hidden>
    <input class="field" id="slider_49" name="slider_49" hidden>
    <input class="field" id="slider_50" name="slider_50" hidden>
    <input class="field" id="slider_51" name="slider_51" hidden>
    <input class="field" id="slider_52" name="slider_52" hidden>
    <input class="field" id="slider_53" name="slider_53" hidden>
    <input class="field" id="slider_54" name="slider_54" hidden>
    <input class="field" id="slider_55" name="slider_55" hidden>
    <input class="field" id="slider_56" name="slider_56" hidden>
    <input class="field" id="slider_57" name="slider_57" hidden>
    <input class="field" id="slider_58" name="slider_58" hidden>
    <input class="field" id="slider_59" name="slider_59" hidden>
    <input class="field" id="slider_60" name="slider_60" hidden>
    <input class="answer" id="score_slider_2" name="score_slider_2" hidden>

    <script>

    var field = $(".field");
    var answer = $(".answer");
    let correctas = 0;

    for (let step = 1; step < 31; step++) {
      $( function() {
        var handle = $( "#custom-handle_" + step  )
        $( "#master_" + step ).slider({
          value: 0,
          orientation: "horizontal",
          range: "min",
          animate: true,
          create: function() {
            handle.text( $( this ).slider( "value" ) );
          },
          slide: function( event, ui ) {
            handle.text( ui.value );
          },
          stop: function(event, ui) {
              $(field[step-1]).val(ui.value);
              if (ui.value == 50) {
              ++correctas
              $(answer[0]).val(correctas)
            }

              
          }
        });
      } );
   
  }
  </script>
  <p> Mueve cada <i>slider</i> al número 50. </p>
  <p></p>

  <div id="master_1" style="width:260px; margin:15px;float:left"><div id="custom-handle_1" class="ui-slider-handle"></div></div><br> 
  <div id="master_2" style="width:260px; margin:15px;float:right"><div id="custom-handle_2" class="ui-slider-handle"></div></div> <br> 
  <div id="master_3" style="width:260px; margin:15px;float:right"><div id="custom-handle_3" class="ui-slider-handle"></div></div> <br>
  <div id="master_4" style="width:260px; margin:15px;float:left"><div id="custom-handle_4" class="ui-slider-handle"></div></div> <br>
  <div id="master_5" style="width:260px; margin:15px;float:right"><div id="custom-handle_5" class="ui-slider-handle"></div></div> <br>
  <div id="master_6" style="width:260px; margin:15px;float:right"><div id="custom-handle_6" class="ui-slider-handle"></div></div> <br>
  <div id="master_7" style="width:260px; margin:15px;float:left"><div id="custom-handle_7" class="ui-slider-handle"></div></div> <br>
  <div id="master_8" style="width:260px; margin:15px;float:left"><div id="custom-handle_8" class="ui-slider-handle"></div></div> <br>
  <div id="master_9" style="width:260px; margin:15px;float:right"><div id="custom-handle_9" class="ui-slider-handle"></div></div> <br>
  <div id="master_10" style="width:260px; margin:15px;float:right"><div id="custom-handle_10" class="ui-slider-handle"></div></div> <br>
  <div id="master_11" style="width:260px; margin:15px;float:left"><div id="custom-handle_11" class="ui-slider-handle"></div></div><br> 
  <div id="master_12" style="width:260px; margin:15px;float:right"><div id="custom-handle_12" class="ui-slider-handle"></div></div> <br> 
  <div id="master_13" style="width:260px; margin:15px;float:right"><div id="custom-handle_13" class="ui-slider-handle"></div></div> <br>
  <div id="master_14" style="width:260px; margin:15px;float:left"><div id="custom-handle_14" class="ui-slider-handle"></div></div> <br>
  <div id="master_15" style="width:260px; margin:15px;float:right"><div id="custom-handle_15" class="ui-slider-handle"></div></div> <br>
  <div id="master_16" style="width:260px; margin:15px;float:right"><div id="custom-handle_16" class="ui-slider-handle"></div></div> <br>
  <div id="master_17" style="width:260px; margin:15px;float:left"><div id="custom-handle_17" class="ui-slider-handle"></div></div> <br>
  <div id="master_18" style="width:260px; margin:15px;float:left"><div id="custom-handle_18" class="ui-slider-handle"></div></div> <br>
  <div id="master_19" style="width:260px; margin:15px;float:right"><div id="custom-handle_19" class="ui-slider-handle"></div></div> <br>
  <div id="master_20" style="width:260px; margin:15px;float:right"><div id="custom-handle_20" class="ui-slider-handle"></div></div> <br>
  <div id="master_21" style="width:260px; margin:15px;float:left"><div id="custom-handle_21" class="ui-slider-handle"></div></div><br> 
  <div id="master_22" style="width:260px; margin:15px;float:right"><div id="custom-handle_22" class="ui-slider-handle"></div></div> <br> 
  <div id="master_23" style="width:260px; margin:15px;float:right"><div id="custom-handle_23" class="ui-slider-handle"></div></div> <br>
  <div id="master_24" style="width:260px; margin:15px;float:left"><div id="custom-handle_24" class="ui-slider-handle"></div></div> <br>
  <div id="master_25" style="width:260px; margin:15px;float:right"><div id="custom-handle_25" class="ui-slider-handle"></div></div> <br>
  <div id="master_26" style="width:260px; margin:15px;float:right"><div id="custom-handle_26" class="ui-slider-handle"></div></div> <br>
  <div id="master_27" style="width:260px; margin:15px;float:left"><div id="custom-handle_27" class="ui-slider-handle"></div></div> <br>
  <div id="master_28" style="width:260px; margin:15px;float:left"><div id="custom-handle_28" class="ui-slider-handle"></div></div> <br>
  <div id="master_29" style="width:260px; margin:15px;float:right"><div id="custom-handle_29" class="ui-slider-handle"></div></div> <br>
  <div id="master_30" style="width:260px; margin:15px;float:right"><div id="custom-handle_30" class="ui-slider-handle"></div></div> <br>


{% endblock %}
