{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block title %}
{% blocktrans trimmed %}Tax Rate System{% endblocktrans %}
{% endblock %}

{% block content %}

    <p>
        {% blocktrans trimmed %}
            The median of all the selected taxes is going to be chosen. <b>Example:</b> As an example of a median, 
            suppose you and your friends must all choose an amount to contribute for food at a party. If you select $5 
            and the other 8 members of your group have chosen: 
            $1, $4, $8, $9, $10, $7, $8, $2. Sorted from low to high we have: <br>
        {% endblocktrans %}

        1: $1<br>
        2: $2<br>
        3: $4<br>
        4: $5<br>
        <b>5: $7 (= {% blocktrans trimmed %}median amount{% endblocktrans %})</b><br>
        6: $8<br>
        7: $8<br>
        8: $9<br>
        9: $10
    </p>
    <p>
        {% blocktrans trimmed %}
            The median in the example would be $7. Which is the middle amount in a sorted list. When you select a tax rate
            in this section, along with other members of your group, the actual tax rate applied will be calculated using the median.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans trimmed %}
        Remember that the amount spend on sending the messages is going to be taken from your income after taxes.
        {% endblocktrans %}
    </p>

    <p>
        <br>
        <h4>{% blocktrans trimmed %}Selecting the tax rate{% endblocktrans %}</h4>
    </p>

    {% formfields %}

    <p>
    {% next_button %}
    </p>

    <p>
    {% include Constants.instructions_button %}
    </p>

{% endblock %}