{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block title %}
{% blocktrans trimmed %}Voting on the Tax Rate{% endblocktrans %}
{% endblock %}

{% block content %}

    <p>
        {% blocktrans trimmed %}
        Please select your most preferred tax rate from 0-100%. The tax rate that will be applied 
        to your group will be the median rate of all submitted tax rates 
        (see instructions to see how the median is calculated).
        {% endblocktrans %}
    </p>

    <p>
        <br>
        <h4>{% blocktrans trimmed %}Choose your preferred tax rate (percentage):{% endblocktrans %}</h4>
    </p>

    {{ form.tax_rate.errors }}
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-wa1i{background-color:grey;border-color:inherit;font-weight:bold;text-align:center;vertical-align:middle}
        .tg .tg-86qe{background-color:#305496;color:#FFF;font-weight:bold;text-align:center;vertical-align:middle}
        .tg .tg-7zrl{text-align:left;vertical-align:bottom}
        .tg tr:hover {background-color: #ffff99;}
        </style>
        <table class="tg">
        <thead>
          <tr>
            <th class="tg-86qe" rowspan="2">&nbsp;&nbsp;&nbsp;<br>Tax Rates<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(%)&nbsp;&nbsp;&nbsp;</th>
            <th class="tg-86qe" colspan="6">Payoffs</th>
          </tr>
          <tr>
            <td class="tg-86qe">9</td>
            <td class="tg-86qe">15</td>
            <td class="tg-86qe">25</td>
            <td class="tg-86qe">40</td>
            <td class="tg-86qe">80</td>
            <td class="tg-86qe">125</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-wa1i"><button name="tax_rate" style="background-color:grey;border-color:black" value=0 class="btn btn-primary btn-block">0</button></td>
            <td class="tg-7zrl">25.423</td>
            <td class="tg-7zrl">39.247</td>
            <td class="tg-7zrl">60.586</td>
            <td class="tg-7zrl">90.339</td>
            <td class="tg-7zrl">162.836</td>
            <td class="tg-7zrl">237.957</td>
          </tr>
          <tr>
            <td class="tg-wa1i"><button name="tax_rate" style="background-color:grey;border-color:black" value=5 class="btn btn-primary btn-block">5</button></td>
            <td class="tg-7zrl">189.129</td>
            <td class="tg-7zrl">291.671</td>
            <td class="tg-7zrl">449.968</td>
            <td class="tg-7zrl">670.675</td>
            <td class="tg-7zrl">1208.459</td>
            <td class="tg-7zrl">1765.704</td>
          </tr>
          <tr>
            <td class="tg-wa1i"><button name="tax_rate" style="background-color:grey;border-color:black" value=10 class="btn btn-primary btn-block">10</button></td>
            <td class="tg-7zrl">313.574</td>
            <td class="tg-7zrl">483.335</td>
            <td class="tg-7zrl">745.399</td>
            <td class="tg-7zrl">1110.784</td>
            <td class="tg-7zrl">2001.099</td>
            <td class="tg-7zrl">2923.629</td>
          </tr>
          <tr>
            <td class="tg-wa1i"><button name="tax_rate" style="background-color:grey;border-color:black" value=15 class="btn btn-primary btn-block">15</button></td>
            <td class="tg-7zrl">416.787</td>
            <td class="tg-7zrl">641.991</td>
            <td class="tg-7zrl">989.645</td>
            <td class="tg-7zrl">1474.363</td>
            <td class="tg-7zrl">2655.451</td>
            <td class="tg-7zrl">3879.277</td>
          </tr>
          <tr>
            <td class="tg-wa1i"><button name="tax_rate" style="background-color:grey;border-color:black" value=20 class="btn btn-primary btn-block">20</button></td>
            <td class="tg-7zrl">503.418</td>
            <td class="tg-7zrl">774.712</td>
            <td class="tg-7zrl">1193.516</td>
            <td class="tg-7zrl">1777.436</td>
            <td class="tg-7zrl">3200.244</td>
            <td class="tg-7zrl">4674.536</td>
          </tr>
          <tr>
            <td class="tg-wa1i"><button name="tax_rate" style="background-color:grey;border-color:black" value=25 class="btn btn-primary btn-block">25</button></td>
            <td class="tg-7zrl">575.836</td>
            <td class="tg-7zrl">885.011</td>
            <td class="tg-7zrl">1362.294</td>
            <td class="tg-7zrl">2027.749</td>
            <td class="tg-7zrl">3649.228</td>
            <td class="tg-7zrl">5329.38</td>
          </tr>
          <tr>
            <td class="tg-wa1i"><button name="tax_rate" style="background-color:grey;border-color:black" value=30 class="btn btn-primary btn-block">30</button></td>
            <td class="tg-7zrl">635.57</td>
            <td class="tg-7zrl">975.074</td>
            <td class="tg-7zrl">1499.177</td>
            <td class="tg-7zrl">2229.913</td>
            <td class="tg-7zrl">4010.455</td>
            <td class="tg-7zrl">5855.427</td>
          </tr>
          <tr>
            <td class="tg-wa1i"><button name="tax_rate" style="background-color:grey;border-color:black" value=35 class="btn btn-primary btn-block">35</button></td>
            <td class="tg-7zrl">683.707</td>
            <td class="tg-7zrl">1046.399</td>
            <td class="tg-7zrl">1606.297</td>
            <td class="tg-7zrl">2386.94</td>
            <td class="tg-7zrl">4289.09</td>
            <td class="tg-7zrl">6260.071</td>
          </tr>
          <tr>
            <td class="tg-wa1i"><button name="tax_rate" style="background-color:grey;border-color:black" value=40 class="btn btn-primary btn-block">40</button></td>
            <td class="tg-7zrl">720.977</td>
            <td class="tg-7zrl">1099.978</td>
            <td class="tg-7zrl">1685.053</td>
            <td class="tg-7zrl">2500.8</td>
            <td class="tg-7zrl">4488.483</td>
            <td class="tg-7zrl">6548.093</td>
          </tr>
          <tr>
            <td class="tg-wa1i"><button name="tax_rate" style="background-color:grey;border-color:black" value=45 class="btn btn-primary btn-block">45</button></td>
            <td class="tg-7zrl">747.673</td>
            <td class="tg-7zrl">1136.27</td>
            <td class="tg-7zrl">1736.159</td>
            <td class="tg-7zrl">2572.558</td>
            <td class="tg-7zrl">4610.566</td>
            <td class="tg-7zrl">6722.321</td>
          </tr>
          <tr>
            <td class="tg-wa1i"><button name="tax_rate" style="background-color:grey;border-color:black" value=50 class="btn btn-primary btn-block">50</button></td>
            <td class="tg-7zrl">763.555</td>
            <td class="tg-7zrl">1155.123</td>
            <td class="tg-7zrl">1759.6</td>
            <td class="tg-7zrl">2602.397</td>
            <td class="tg-7zrl">4655.992</td>
            <td class="tg-7zrl">6783.899</td>
          </tr>
          <tr>
            <td class="tg-wa1i"><button name="tax_rate" style="background-color:grey;border-color:black" value=55 class="btn btn-primary btn-block">55</button></td>
            <td class="tg-7zrl">767.86</td>
            <td class="tg-7zrl">1155.804</td>
            <td class="tg-7zrl">1754.686</td>
            <td class="tg-7zrl">2589.682</td>
            <td class="tg-7zrl">4624.269</td>
            <td class="tg-7zrl">6732.479</td>
          </tr>
          <tr>
            <td class="tg-wa1i"><button name="tax_rate" style="background-color:grey;border-color:black" value=60 class="btn btn-primary btn-block">60</button></td>
            <td class="tg-7zrl">700.061</td>
            <td class="tg-7zrl">1051.124</td>
            <td class="tg-7zrl">1593.07</td>
            <td class="tg-7zrl">2348.684</td>
            <td class="tg-7zrl">4189.846</td>
            <td class="tg-7zrl">6097.632</td>
          </tr>
          <tr>
            <td class="tg-wa1i"><button name="tax_rate" style="background-color:grey;border-color:black" value=65 class="btn btn-primary btn-block">65</button></td>
            <td class="tg-7zrl">630.783</td>
            <td class="tg-7zrl">944.178</td>
            <td class="tg-7zrl">1427.976</td>
            <td class="tg-7zrl">2102.514</td>
            <td class="tg-7zrl">3746.124</td>
            <td class="tg-7zrl">5449.21</td>
          </tr>
          <tr>
            <td class="tg-wa1i"><button name="tax_rate" style="background-color:grey;border-color:black" value=70 class="btn btn-primary btn-block">70</button></td>
            <td class="tg-7zrl">560</td>
            <td class="tg-7zrl">834.908</td>
            <td class="tg-7zrl">1259.292</td>
            <td class="tg-7zrl">1850.992</td>
            <td class="tg-7zrl">3292.756</td>
            <td class="tg-7zrl">4786.691</td>
          </tr>
          <tr>
            <td class="tg-wa1i"><button name="tax_rate" style="background-color:grey;border-color:black" value=75 class="btn btn-primary btn-block">75</button></td>
            <td class="tg-7zrl">487.416</td>
            <td class="tg-7zrl">722.857</td>
            <td class="tg-7zrl">1086.316</td>
            <td class="tg-7zrl">1593.07</td>
            <td class="tg-7zrl">2827.852</td>
            <td class="tg-7zrl">4107.314</td>
          </tr>
          <tr>
            <td class="tg-wa1i"><button name="tax_rate" style="background-color:grey;border-color:black" value=80 class="btn btn-primary btn-block">80</button></td>
            <td class="tg-7zrl">412.604</td>
            <td class="tg-7zrl">607.369</td>
            <td class="tg-7zrl">908.033</td>
            <td class="tg-7zrl">1327.236</td>
            <td class="tg-7zrl">2348.684</td>
            <td class="tg-7zrl">3407.095</td>
          </tr>
          <tr>
            <td class="tg-wa1i"><button name="tax_rate" style="background-color:grey;border-color:black" value=85 class="btn btn-primary btn-block">85</button></td>
            <td class="tg-7zrl">334.901</td>
            <td class="tg-7zrl">487.416</td>
            <td class="tg-7zrl">722.857</td>
            <td class="tg-7zrl">1051.124</td>
            <td class="tg-7zrl">1850.992</td>
            <td class="tg-7zrl">2679.804</td>
          </tr>
          <tr>
            <td class="tg-wa1i"><button name="tax_rate" style="background-color:grey;border-color:black" value=90 class="btn btn-primary btn-block">90</button></td>
            <td class="tg-7zrl">253.128</td>
            <td class="tg-7zrl">361.18</td>
            <td class="tg-7zrl">527.984</td>
            <td class="tg-7zrl">760.552</td>
            <td class="tg-7zrl">1327.236</td>
            <td class="tg-7zrl">1914.426</td>
          </tr>
          <tr>
            <td class="tg-wa1i"><button name="tax_rate" style="background-color:grey;border-color:black" value=95 class="btn btn-primary btn-block">95</button></td>
            <td class="tg-7zrl">164.653</td>
            <td class="tg-7zrl">224.599</td>
            <td class="tg-7zrl">317.139</td>
            <td class="tg-7zrl">446.164</td>
            <td class="tg-7zrl">760.552</td>
            <td class="tg-7zrl">1086.316</td>
          </tr>
          <tr>
            <td class="tg-wa1i"><button name="tax_rate" style="background-color:grey;border-color:black" value=100 class="btn btn-primary btn-block">100</button></td>
            <td class="tg-7zrl">54.404</td>
            <td class="tg-7zrl">54.404</td>
            <td class="tg-7zrl">54.404</td>
            <td class="tg-7zrl">54.404</td>
            <td class="tg-7zrl">54.404</td>
            <td class="tg-7zrl">54.404</td>
          </tr>
        </tbody>
        </table>

    <!-- <p>
    {% next_button %}
    </p> -->

    <p>
    {% include Constants.instructions_button %}
    </p>

{% endblock %}